<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pontocristao</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    
    <mapping class="pontocristao.modelo.Fornecedor"/>
    <mapping class="pontocristao.modelo.Funcionario"/>
    <mapping class="pontocristao.modelo.Cliente"/>
    <mapping class="pontocristao.modelo.ClientePessoaFisica"/>
    <mapping class="pontocristao.modelo.ClientePessoaJuridica"/>
    <mapping class="pontocristao.modelo.Endereco"/>
    <mapping class="pontocristao.modelo.Dependente"/>
    <mapping class="pontocristao.modelo.Caixa"/>
    <mapping class="pontocristao.modelo.MovimentacaoCaixa"/>
  </session-factory>
</hibernate-configuration>
